*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#btn{
    background-color: blue;
    color:white;
    font-size:25px;
    padding:25px 30px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#btn:active{
    background-color: aqua;
}